<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interno</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <script src="https://kit.fontawesome.com/9fe8afb7ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/js/bootstrap.bundle.min.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- -------------------------- NAVBAR ----------------------------- -->

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold fs-3" href="index.html">Interno</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto me-4">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ------------------------------- TOP MAIN VIWE ------------------------------ -->

    <div class="container-fluid top-main">
        <div class="text-center">
            <h1>Wood's Timeless Charm</h1>
            <h5>Experience handcrafted elegance and enduring style in every piece</h5>
            <a href="#" class="shop-now-btn">Shop now</a>
        </div>
    </div>

    <!-- --------------------- First Scrolling Images ------------------- -------------------->

    <div class="container-fluid scroll-img">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <div class="row row-cols-1 row-cols-md-4 g-4 scrolling-wrapper flex-row flex-nowrap gap-5">
                    <div class="col">
                        <div class="card border-0 scroll-card">
                            <img src="../assets/images/image/sectiom1_img1.webp" class="img-fluid" alt="...">
                            <div class="card-body">
                                <h6 class="text-center fw-bold">Modern Sofa</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0 scroll-card">
                            <img src="../assets/images/image/sectiom1_img2.webp" class="img-fluid" alt="...">
                            <div class="card-body">
                                <h6 class="text-center fw-bold">Dining Chairs</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0 scroll-card">
                            <img src="../assets/images/image/sectiom1_img3.webp" class="img-fluid" alt="...">
                            <div class="card-body">
                                <h6 class="text-center fw-bold">Sleek Desk</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0 scroll-card">
                            <img src="../assets/images/image/sectiom1_img4.webp" class="img-fluid" alt="...">
                            <div class="card-body">
                                <h6 class="text-center fw-bold">Rustic Table</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0 scroll-card">
                            <img src="../assets/images/image/sectiom1_img5.webp" class="img-fluid" alt="...">
                            <div class="card-body">
                                <h6 class=" text-center fw-bold">Artisanal Shelve</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------- New arrival shopping ------------------------- -->

    <div class="container-fluid new-arrival-bgc pb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <div class="d-flex gap-4">
                    <div>
                        <p class="text-black fw-bold">New arrival</p>
                        <div class="bt-border"></div>
                    </div>
                    <p class="fw-bold text-secondary">Best Seller</p>
                </div>
                <div class="row row-cols-2 row-cols-md-4 g-4 mt-4">
                    <div class="col h-100">
                        <div class="card p-3 rounded-4 border-0 First-bg">
                            <h1 class="display-5 fw-bold">Freshen Up Your Space with New Arrivals</h1>

                            <a href="#" class="shop-now-btn2 col-12 col-md-8 text-center mt-5">Shop now</a>

                        </div>
                    </div>
                    <div class="col h-100">
                        <div class="card p-3 rounded-4 border-0">
                            <img src="../assets/images/image/sectiom2_img1.webp" class="card-img-top rounded-4"
                                alt="...">
                            <div class="mt-4">
                                <h5 class="card-title">Round coffee table</h5>
                                <button class="point_1 mb-3"></button> <button class="point_2 mb-3"></button>
                                <div style="display: flex;">
                                    <h4>$1,183.00</h4>&nbsp; &nbsp; <s class="rate">$1,314.00</s>
                                </div>
                                <button type="button" class="btn btn-outline-dark btn_Ad_To_Cart rounded-4">Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col h-100">
                        <div class="card p-3 rounded-4 border-0">
                            <img src="../assets/images/image/sectiom2_img2.webp" class="card-img-top rounded-4"
                                alt="...">
                            <div class="mt-4">
                                <h5 class="card-title">Luna dining chairs</h5>
                                <button class="point_1 mb-3"></button> <button class="point_2 mb-3"></button>
                                <div style="display: flex;">
                                    <h4>$621.00</h4>&nbsp; &nbsp; <s class="rate">
                                        $690.00</s>
                                </div>
                                <button type="button" class="btn btn-outline-dark btn_Ad_To_Cart rounded-4">Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col h-100">
                        <div class="card p-3 rounded-4 border-0">
                            <img src="../assets/images/image/sectiom2_img3.webp" class="card-img-top rounded-4"
                                alt="...">
                            <div class="mt-4">
                                <h5 class="card-title">Chester side table</h5>
                                <button class="point_1 mb-3"></button> <button class="point_2 mb-3"></button>
                                <div style="display: flex;">
                                    <h4>$674.00</h4>&nbsp; &nbsp; <s class="rate">$749.00</s>
                                </div>
                                <button type="button" class="btn btn-outline-dark btn_Ad_To_Cart rounded-4">Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- --------------------------- Limit Time Offer ------------------------ -->

    <div class="container-fluid mt-5 text-white">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <div class="offer-limit-box rounded-4 p-5">
                    <div class="row g-5">
                        <div class="col-12 col-md-6 d-grid">
                            <h4>Up to 50% Off</h4>
                            <h1 class="display-4 fw-bold">Limit Time Offer</h1>
                            <p>Elevate your space with our expertly curated and endlessly stylish furniture. Don't miss
                                your chance to get the highest quality pieces at unbeatable prices.</p>
                            <a href="#" class="shop-now-btn3 col-8 text-center mt-5 justify-content-end">Shop now</a>

                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex gap-3">
                                <img src="../assets/images/image/sectiom3_img1.webp" class="img-fluid rounded-4 col-7"
                                    width="200px" alt="">
                                <img src="../assets/images/image/sectiom3_img2.webp" class="img-fluid rounded-4 col-4"
                                    width="200px" alt="">
                            </div>
                            <div class="d-flex gap-3 mt-3">
                                <img src="../assets/images/image/sectiom3_img3.webp" class="img-fluid rounded-4 col-4"
                                    width="200px" alt="">
                                <img src="../assets/images/image/sectiom3_img4.webp" class="img-fluid rounded-4 col-7"
                                    width="200px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ----------------------------------- Elevate Your Lifestyle Today --------------------------------- -->


    <div class="container-fluid elevate">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <h1 class="display-6 text-start text-md-center fw-bold">Elevate Your Lifestyle Today</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
                    <div class="col">
                        <div class="card h-100 border-0">
                            <div class="d-flex justify-content-md-start justify-content-center ms-0 ms-md-3">
                                <i class="fa-solid fa-cart-shopping fs-1"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title fw-bold mt-3">Trade Program for Pros</h5>
                                <small class="card-text">Join our Trade Program for exclusive pricing and dedicated
                                    support.</small>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 border-0">
                            <div class="d-flex justify-content-md-start justify-content-center ms-0 ms-md-3">
                                <i class="fa-solid fa-pen-nib fs-1"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title fw-bold mt-3">Design Assistance</h5>
                                <small class="card-text">Design Consultants bring your ideas to life. Get started
                                    today!</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 border-0">
                            <div class="d-flex justify-content-md-start justify-content-center ms-0 ms-md-3">
                                <i class="fa-solid fa-tag fs-1"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title fw-bold mt-3">Best Price Guarantee</h5>
                                <small class="card-text">Authentic designs at best prices.
                                    Shop confidently with a price match.</small>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------- Trending Design -------------  By amit ----------------- -->

    <div class="container-fluid trending-design">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <h5 class="text-center fw-bold">Scandinavian</h5>
                <h1 class="text-center fw-bold display-5">Trending Designs</h1>
                <div class="row row-cols-2 row-cols-md-4 g-4 mt-5">
                    <div class="col">
                        <div class="card p-3 rounded-4 border-0">
                            <img src="../assets/images/image/sectiom4_img1.webp" class="card-img-top rounded-4"
                                alt="...">
                            <div class="mt-4">
                                <h5 class="card-title">Nordic Lounge Chair</h5>
                                <button class="point_1 mb-3"></button> <button class="point_2 mb-3"></button>
                                <div style="display: flex;">
                                    <h4>$489.00</h4>&nbsp; &nbsp; <s class="rate">$1,183.00</s>
                                </div>
                                <button type="button" class="btn btn-outline-dark btn_Ad_To_Cart rounded-4">Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 rounded-4 border-0">
                            <img src="../assets/images/image/sectiom4_img2.webp" class="card-img-top rounded-4"
                                alt="...">
                            <div class="mt-4">
                                <h5 class="card-title">Nordic Lounge Chair</h5>
                                <button class="point_1 mb-3"></button> <button class="point_2 mb-3"></button>
                                <div style="display: flex;">
                                    <h4>$489.00</h4>&nbsp; &nbsp; <s class="rate">$1,183.00</s>
                                </div>
                                <button type="button" class="btn btn-outline-dark btn_Ad_To_Cart rounded-4">Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 rounded-4 border-0">
                            <img src="../assets/images/image/sectiom4_img3.webp" class="card-img-top rounded-4"
                                alt="...">
                            <div class="mt-4">
                                <h5 class="card-title">Nordic Lounge Chair</h5>
                                <button class="point_1 mb-3"></button> <button class="point_2 mb-3"></button>
                                <div style="display: flex;">
                                    <h4>$489.00</h4>&nbsp; &nbsp; <s class="rate">$1,183.00</s>
                                </div>
                                <button type="button" class="btn btn-outline-dark btn_Ad_To_Cart rounded-4">Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 rounded-4 border-0">
                            <img src="../assets/images/image/sectiom4_img4.webp" class="card-img-top rounded-4"
                                alt="...">
                            <div class="mt-4">
                                <h5 class="card-title">Nordic Lounge Chair</h5>
                                <button class="point_1 mb-3"></button> <button class="point_2 mb-3"></button>
                                <div style="display: flex;">
                                    <h4>$489.00</h4>&nbsp; &nbsp; <s class="rate">$1,183.00</s>
                                </div>
                                <button type="button" class="btn btn-outline-dark btn_Ad_To_Cart rounded-4">Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------ Crafted with Passion ---------------------------  -->

    <!-- ***************  Row 3  ************************ -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="mb-4 mt-5">
                    <div class="bgcolor_2 rounded-4 text-center crafted-design ">
                        <h2 class="fs-large fw-bold crafted-txt">Crafted with Passion for Timeless <br> Beauty</h2> <br>
                        <p>Elevate your space with our expertly curated and endlessly stylish furniture. <br>
                            Don't miss your chance to get the highest quality pieces at unbeatable prices.</p>

                        <div class="">
                            <div class="row row-cols-1 row-cols-md-4 justify-content-center g-4">
                                <div class="col">
                                    <div class="card  rounded-4">
                                        <img src="../assets/images/image/sectiom5_img1.webp" class="p-2 rounded-5"
                                            alt="...">
                                        <h5 class="card-title">Emily Johnson</h5>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card rounded-4">
                                        <img src="../assets/images/image/sectiom5_img2.webp" class="p-2 rounded-5"
                                            alt="...">
                                        <h5 class="card-title">David Lee</h5>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card rounded-4">
                                        <img src="../assets/images/image/sectiom5_img3.webp" class="p-2 rounded-5"
                                            alt="...">
                                        <h5 class="card-title">Sophia Patel</h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <button type="button" class="btn btn-dark Learn_more">Learn more</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- *****************  Row 4  ************************ -->
    <div class="bgcolor">
        <h2 class="text-center pt-5 pb-5 fs-1 fw-bold">Testimonials</h2>
        <div class="container mt-5 mb-5 pb-5">
            <div class="row row-cols-1 row-cols-md-4 g-4 scrolling-wrapper flex-row flex-nowrap gap-5 pb-4">
                <div class="col">
                    <div class="card p-3 rounded-4 border-0">
                        <img src="../assets/images/image/sectiom6_img1.webp" class="card-img-top rounded-4" alt="...">
                        <div class="mt-4">
                            <h5 class="card-title">Sarah Johnson</h5>
                            <p>Wood Heaven's Live Edge Dining Table transformed my dining room. The quality and natural
                                beauty of the wood exceeded my expectations. Highly recommend it!</p>
                            <div class="d-flex align-items-center">
                                <img src="https://pagefly.myshopify.com/cdn/shop/products/Rectangle47.png?v=1681966212"
                                    width="40px" class="rounded-5" alt="">
                                <p>Live Edge Dining Table</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-3 rounded-4 border-0">
                        <img src="../assets/images/image/sectiom6_img2.webp" class="card-img-top rounded-4" alt="...">
                        <div class="mt-4">
                            <h5 class="card-title">Tom Carter</h5>
                            <p>The craftsmanship of Wood Heaven's Rustic Bench is outstanding. Sturdy, comfortable and
                                stylish, it's the perfect centerpiece of my living room. Love it!</p>
                            <div class="d-flex align-items-center">
                                <img src="https://pagefly.myshopify.com/cdn/shop/products/Rectangle48.png?v=1681966259"
                                    width="40px" class="rounded-5" alt="">
                                <p>Rustic Bench</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-3 rounded-4 border-0">
                        <img src="../assets/images/image/sectiom6_img3.webp" class="card-img-top rounded-4" alt="...">
                        <div class="mt-4">
                            <h5 class="card-title">Maria Rodriguez</h5>
                            <p>Wood Heaven's Wooden Bookcase is both functional and stylish, with plenty of space to
                                store all of my books and decor. Excellent quality and attention to detail.</p>
                            <div class="d-flex align-items-center">
                                <img src="https://pagefly.myshopify.com/cdn/shop/products/Rectangle49.png?v=1681966299"
                                    width="40px" class="rounded-5" alt="">
                                <p>Wooden Bookcase</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-3 rounded-4 border-0">
                        <img src="../assets/images/image/sectiom6_img4.webp" class="card-img-top rounded-4" alt="...">
                        <div class="mt-4">
                            <h5 class="card-title">John Smith</h5>
                            <p>The handcratfed Coffee Table is a work of art. The blend of rustic and modern design
                                makes it a conversation piece in my living room. Definitely will buy again!</p>
                            <div class="d-flex align-items-center">
                                <img src="https://pagefly.myshopify.com/cdn/shop/products/Rectangle19_2.png?v=1681966342"
                                    width="40px" class="rounded-5" alt="">
                                <p>Handcrafted Coffee Table</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- *****************  Row 5  ************************ -->
    <div class="d-flex justify-content-center d-none d-md-block">
        <div class="text-center fs-large fw-bold mt-4 mb-4 pt-5">
            <h1>Follow Us On Instagram For Inspiration!</h1>
            <h5>@WoodenHeaven</h5>
            <div class="container justify-content-center">
                <div class="row mt-2 justify-content-center">
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img1.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img2.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img3.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img4.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img5.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                </div>
                <div class="row  mt-2 justify-content-center">
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img6.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img7.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img8.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img9.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img10.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                </div>
            </div>



        </div>
    </div>

    <!--  ----------------------------------------- -->

    <div class="d-flex justify-content-center d-block d-md-none">
        <div class="text-center fs-large fw-bold mt-4 mb-4 pt-5">
            <h1>Follow Us On Instagram For Inspiration!</h1>
            <h5>@WoodenHeaven</h5>
            <div class="container justify-content-center">
                <div class="row mt-2 justify-content-center">
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img1.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img2.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img3.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img4.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img5.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img6.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img7.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img8.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img9.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                    <dit class="col-6 col-md-2">
                        <img src="../assets/images/image/sectiom7_img10.webp" class="rounded-5 img-fluid" alt="">
                    </dit>
                </div>
            </div>



        </div>
    </div>

    <!-- *********  lasr se 1 row uper   ************ -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <div class="bgcolor_4 mt-5 pt-5 mb-5">
                    <h1 class="text-center mt-5 mb-5">Guide To Home Improvement</h1>
                    <div class="container pb-5 mb-5">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                                <div class="card border-0 rounded-4">
                                    <img src="https://pagefly.myshopify.com/cdn/shop/articles/Rectangle_45.png?v=1681900954"
                                        class="card-img-top p-3 rounded-5" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Sustainable Wood: A Guide to Eco-Friendly Furniture</h5>
                                        <p>In this blog post, we'll take a deep dive into the world of sustainable wood,
                                            including
                                            what it is, why it matters, and how to identify it. We'll also highlight
                                            some of the
                                            most eco-friendly wooden furniture products available in our store, so you
                                            can make an
                                            informed decision.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-0 rounded-4">
                                    <img src="https://pagefly.myshopify.com/cdn/shop/articles/Rectangle_44.png?v=1681900988"
                                        class="card-img-top p-3 rounded-5" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Why Choose Wooden Furniture for Your Home</h5>
                                        <p>In this blog post, we'll take a deep dive into the world of sustainable wood,
                                            including
                                            what it is, why it matters, and how to identify it. We'll also highlight
                                            some of the
                                            most eco-friendly wooden furniture products available in our store, so you
                                            can make an
                                            informed decision.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-0 rounded-4">
                                    <img src="https://pagefly.myshopify.com/cdn/shop/articles/Rectangle_46.png?v=1681900914"
                                        class="card-img-top p-3 rounded-5" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">How Wooden Furniture Can Maximize Your Space</h5>
                                        <p>In this blog post, we'll take a deep dive into the world of sustainable wood,
                                            including
                                            what it is, why it matters, and how to identify it. We'll also highlight
                                            some of the
                                            most eco-friendly wooden furniture products available in our store, so you
                                            can make an
                                            informed decision.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-0 rounded-4">
                                    <img src="https://pagefly.myshopify.com/cdn/shop/articles/Rectangle_16_9.png?v=1681900869"
                                        class="card-img-top p-3 rounded-5" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Our Favorite Wooden Furniture Pieces for Productivity
                                        </h5>
                                        <p>In this blog post, we'll take a deep dive into the world of sustainable wood,
                                            including
                                            what it is, why it matters, and how to identify it. We'll also highlight
                                            some of the
                                            most eco-friendly wooden furniture products available in our store, so you
                                            can make an
                                            informed decision.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------  -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <div class="mt-5 mb-5">
                    <div class="row mt-5 g-4 p-3">
                        <div class="col-lg-5 col-sm-12">
                            <div class="d-flex justify-content-center">
                                <img src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/rectangle-17-1-1681976774794.png?v=1681976778"
                                    width="420px" class="rounded-5 img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-7 col-sm-12 bgcolor_3 rounded-5">
                            <div class="d-flex justify-content-center">
                                <div>
                                    <h3>Be The First To Know</h3>
                                    <h1>All Exclusive Offers And Updates</h1>
                                    <div class="align-items-center">
                                        <input type="text" name="hiiiiiii" class="input_email rounded-5 text-center"
                                        placeholder="Your email" id="#"> <button class="btn_s_n rounded-4 mt-md-0 mt-3">Subscribe
                                        now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>